<div class="row">
    <div class="col">
        <h4>Lista de Usuarios</h4>
    </div>
    <div class="col-md-6 text-right">
        <button class="btn btn-outline-primary" (click)="addUser()">Crear usuario</button>
    </div>

</div>
<br>
<div [@routerTransition]>

    <div class="row animated fadeIn fast">
        <div class="col-md-12">
            <div class="table-responsive">
                <div class="card mb-5">

                    <table class="card-body table table-hover">
                        <thead class="card-header">
                            <tr>
                                <th>Id</th>
                                <th>Usuario</th>
                                <th>Nombre</th>
                                <th>Correo</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of usuarios">
                                <td>{{user.user_id}}</td>
                                <td>{{user.username}}</td>
                                <td>{{user.nombre}} {{user.apellido}}</td>
                                <td>{{user.email}}</td>
                                <td>

                                    <div class="row text-right">
                                        <div class="col-auto text-right">
                                            <button type="button" class="btn btn-outline-primary" (click)="editUser(user.user_id)">Editar</button>
                                        </div>
                                        <div class="col-auto text-right">
                                            <button type="button" class="btn btn-outline-primary" (click)="detailUser(user.user_id)">Ver Acuarios</button>
                                        </div>
                                        <!--div class="col-auto text-right">
                                            <button class="btn btn-outline-primary" (click)="editUser(user.user_id)">Desactivar</button>
                                        </div-->
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>
</div>