<div class="row">
    <div class="col-auto">
        <h4>Acuarios de:</h4>
    </div>
    <div class="col text-left" *ngFor="let usuario of usuarios">
        <h4>{{usuario.nombre}} {{usuario.apellido}}</h4>
    </div>

    <div class="col-md-6 text-right">
        <button class="btn btn-outline-primary" (click)="addUser()">Crear usuario</button>
    </div>

</div>
<br>
<div [@routerTransition]>

<div class="row animated fadeIn fast">

    <div class="col-md-12">

        <div class="table-responsive">
            <div class="card mb-5">
                <div class="card-header">Acuarios</div>
                <table class="card-body table table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre de Acuario</th>
                            <th>Tipo de Pez</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let acuario of acuarios">
                            <td>{{acuario.idacuario}}</td>
                            <td>{{acuario.description}}</td>
                            <td>{{acuario.pez}}</td>
                            <td>
                                <button type="button" class="btn btn-outline-primary" (click)="detailAcuario(acuario.idacuario)">Ver</button>

                                <button type="button" class="btn btn-outline-primary" [routerLink]="['/signup']">Configurar</button>
                                <!-- <button class="btn btn-outline-primary" (click)="editUser()">Editar</button> -->
                                <button class="btn btn-outline-primary" (click)="editUser()">Desactivar</button>
                            </td>
                        </tr>
                    </tbody>

                </table>

            </div>

        </div>

    </div>
</div>
</div>