<div class="row">
    <div class="col">
        <h4>Acuarios de: {{usuarios.nombre}} {{usuarios.apellido}}</h4>
    </div>
    
        
    

    <div class="col-md-6 text-right">
        <button class="btn btn-outline-primary" (click)="addAcuario()">Crear Acuario</button>
        <button class="btn btn-outline-primary" (click)="volver()">Volver</button>
    </div>

</div>
<br>
<div [@routerTransition]>

<div class="row animated fadeIn fast">

    <div class="col-md-12">

        <div class="table-responsive">
            <div class="card mb-5">
                <div class="card-header">Acuarios</div>
                <table class="card-body table table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre de Acuario</th>
                            <th>Tipo de Pez</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let acuario of acuarios">
                            <td>{{acuario.idacuario}}</td>
                            <td>{{acuario.description}}</td>
                            <td>{{acuario.pez}}</td>
                            <td>
                                <button type="button" class="btn btn-outline-primary" (click)="detailAcuario(acuario.idacuario)">Configurar</button>

                                <!--button type="button" class="btn btn-outline-primary" [routerLink]="['/signup']">Configurar</button-->
                                <!-- <button class="btn btn-outline-primary" (click)="editUser()">Editar</button> -->
                                <!--button class="btn btn-outline-primary" (click)="editUser()">Desactivar</button-->
                            </td>
                        </tr>
                    </tbody>

                </table>

            </div>

        </div>

    </div>
</div>
</div>